.terms {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: monospace;
  background-color: rgb(163, 154, 154);

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: break-spaces;
  }
}
.privacy {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: monospace;
  background-color: rgb(163, 154, 154);

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: break-spaces;
  }
}

h2 {
  color: white;
}
h1 {
  font-size: 65px;
  display: flex;
  justify-content: center;
  color: lightblue;
  padding: 20px;
}
p {
  font-size: 20px;
  color: white;
}
span {
  display: inline-block;
  padding: 0 15px;
  height: 1px;
  border: solid 1px violet;
  width: 90vw;
}
.divider {
  padding: 15px;
}
ul {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .terms,
  .privacy {
    padding: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .terms,
  .privacy {
    padding: 100px;
  }
}
.privacy__close {
  font-size: xx-large;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  text-decoration: none;
  color: red;
}
