.terms {
  display: flex;
  flex-direction: column;
  padding: 100px;
  font-family: monospace;
}
.privacy {
  display: flex;
  flex-direction: column;
  padding: 100px;
  font-family: monospace;
}

h2 {
  color: red;
}
h1 {
  font-size: 85px;
  display: flex;
  justify-content: center;
  color: lightblue;
  padding: 20px;
}
p {
  font-size: 20px;
}
span {
  display: inline-block;
  padding: 0 15px;
  height: 1px;
  border: solid 1px violet;
  width: 90vw;
}
.divider {
  padding: 15px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  white-space: break-spaces;
}
ul {
  font-size: 20px;
}
