.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: red;
  background-image: url("/asset/image/courier.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  &__customer {
    display: flex;
    flex-direction: row;
    height: 230px;
    width: 100%;
    flex-wrap: wrap;
    border: 1px solid lightblue;
    padding: 10px;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  &__image {
    background-image: var(--poza);
    height: auto;
    background-color: transparent;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &:hover {
      cursor: pointer;
      flex-grow: 0.25;
      transition: 250ms;
    }
  }
}
