.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  // background-color: yellow;
  color: red;
  background-image: url("/asset/image/courier1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  // section {
  //   left: 100%;
  //   right: -100%;
  // }
}
