.quote {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  padding: 50px;
  // gap: 10px;
  align-items: center;
  background-image: url("/asset/image/road1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  &__form {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  &__header {
    display: inline-flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
    color: red;
  }

  &__titlu {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
  }
}
