- var serviceType = data.site.content.services.description

#services 
.services
  button.dropdown-toggle(
    class= 'btn btn-primary'
    type='button'
    data-toggle= 'dropdown'
  ) Service
    span.caret 
  ul.dropdown-menu
    li
      a(href="#p4j1eU4x")= serviceType
        //- ul(class= "hidden")
          li
            a(href="#p4j1eU4x") Same Day Courier Services
          li
            a(href="#p4j1eU4x") European Same Day Courier
          li
            a(href="#p4j1eU4x") Urgent Courier Service
          li
            a(href="#p4j1eU4x") Emergency Courier
          li
            a(href="#p4j1eU4x") Same Night Courier Service
          li
            a(href="#p4j1eU4x") Time Critical Courier
          li
            a(href="#p4j1eU4x") Over Night Dedicated
          li
            a(href="#p4j1eU4x") International Courier
          li
            a(href="#p4j1eU4x") Wait And Return Courier
          li
            a(href="#p4j1eU4x") Dedicated Direct Drive Delivery
          li
            a(href="#p4j1eU4x") Secure Courier Service
          li
            a(href="#p4j1eU4x") Refrigerated Courier Service
          li
            a(href="#p4j1eU4x") Exhibition and Event Courier
//- <div class="container">
//-   <h2>Dropdowns</h2>
//-   <p>The .dropdown class is used to indicate a dropdown menu.</p>
//-   <p>Use the .dropdown-menu class to actually build the dropdown menu.</p>
//-   <p>To open the dropdown menu, use a button or a link with a class of .dropdown-toggle and data-toggle="dropdown".</p>                                          
//-   <div class="dropdown">
//-     <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
//-     <span class="caret"></span></button>
//-     <ul class="dropdown-menu">
//-       <li><a href="#">HTML</a></li>
//-       <li><a href="#">CSS</a></li>
//-       <li><a href="#">JavaScript</a></li>
//-     </ul>
//-   </div>
//- </div>
