- var { description } = data.site.content.services

#services 
.services
label.services__toggle Services
  input.services__checkbox(type="checkbox" id="services" name="services" value="services")
  nav.services__droplisttest
    each text in description
      label.service__item(for="super-quote")= text 
