.services {
  background-color: yellow;
  box-sizing: border-box;
}

.nav {
  background-color: #4caf50;
  color: red;
  margin: 14px;
  transition-duration: 0.4s;
  font-size: large;

  &:hover {
    color: black;
    background-color: yellow;
    cursor: pointer;
  }
}
