#services 
.services
  nav.services__menu
    a(
      type='button'
      onClick='#quote'
    ) Services
    ul
      li
        a(href="") Sub 1
      li
        a(href="") sub2
      li
        a(href="") su3
      li
        a(href="") 331
      li
        a(href="") 1231
