nav {
  background: #efefef;
  margin: 0 auto;
  font-size: large;
}

.services {
  &__link {
    text-decoration: none;
    color: #fff;
    background: #00a94e;
    display: inline-block;
    width: 100px;
    padding: 10px 20px;

    &:hover {
      background: #1687a7;

      & + .services__droplisttest {
        display: grid;
      }
    }
  }
  &__droplist {
    display: none;
    position: absolute;
    border: 1px solid gray;
  }

  &__checkbox {
    display: none;
    &:checked {
      & + .services__droplisttest {
        display: grid;
      }
    }
  }

  &__droplisttest {
    display: none;
    background-color: #1687a7;

    position: absolute;
    border-radius: 16px;
    width: 300px;
    gap: 10px;
    padding: 10px;
    right: 65px;
    bottom: 74px;
    &:checked {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: transparent;
      inset: -48px 174px -8px 22px;
    }
  }

  &__toggle {
    font-size: 15px;
    &:hover {
      background-color: #1687a7;
      & .services__droplisttest {
        display: grid;
      }
    }
  }

  &__testbox {
    border: 1px solid red;
    text-decoration: none;
  }
}

.service__item {
  text-decoration: none;
  // border: 1px solid white;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  &:hover {
    color: #dd0a35;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .services__droplisttest {
    grid-template-columns: repeat(2, 1fr);
    width: 650px;
    top: 66px;
    position: absolute;
    height: 250px;
    overflow-y: hidden;
  }
}

@media screen and (min-width: 1280px) {
  .services__droplisttest {
    grid-template-columns: repeat(4, 1fr);
  }
}
