.footer {
  display: flex;
  position: fixed;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  height: 85px;
  bottom: 0;
  color: white;
  width: 100%;
  background-color: #d71313;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  &__link {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 20px;
    text-decoration: none;
  }
  &__contact {
    &::after {
      content: "yahoo.com";
    }
    &::before {
      content: "Pccourier";
    }
  }
}

a {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
  }
}
