#footer
.footer 
  .footer__link
    .icon-information   
      a.footer__privacy(href="#privacy") Privacy Policy 
    .icon-information   
      a.footer__terms(href="#terms") Terms & Conditions
    .icon-email   
      a.footer__contact(href="") @
    .icon-telephone   
      a.footer__call(href="tel:07713238039") Call us
