#footer
.footer 
  .footer__img
    img(src="asset/image/logo12.png")
  .footer__link
    .icon-information   
      a(href="#privacy") Privacy Policy 
    .icon-information   
      a(href="#terms") Terms & Conditions
    .icon-email   
      a.footer__contact(href="") @
    .icon-telephone   
      a(href="tel:07712345222") Call us
  //- div.pulse  &copy: Sa moara Gilbert 2022
