.menu {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  position: absolute;
  gap: 5px;
  z-index: 1;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__top {
    text-decoration: none;
    flex-direction: row;
    display: none;
  }

  &__link {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    display: flex;
    min-width: 140px;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    border-radius: 5rem;
    background-color: white;
    &:hover {
      background-color: #1687a7;
      color: black;
      cursor: pointer;
    }
    &:last-child {
      animation: flash 5s infinite;
      &:hover {
        animation: pulse 1s infinite;
        background-color: #1687a7;
      }
    }
  }

  &__controller {
    position: relative;
    display: none;

    &:nth-child(1):checked {
      & ~ .content {
        left: 0;
      }
      &:nth-child(2):checked {
        & ~ .content {
          left: -100vw;
        }
        &:nth-child(3):checked {
          & ~ .content {
            left: -200vw;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .menu {
    justify-content: flex-end;
    bottom: initial;
    top: 0;
    left: 0;
    justify-content: space-around;
    flex-direction: row;
    background-color: #dd0a35;
    &__logo {
      height: 60px;
      display: flex;
    }
  }
  .menu__top {
    display: flex;
  }
  .menu__controller {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .menu {
    justify-content: space-around;
  }
  .menu__top {
    display: flex;
  }
  .menu__controller {
    display: none;
  }
}
