@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
.menu {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__top {
    text-decoration: none;
    flex-direction: row;
    display: none;
  }

  &__link {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    display: flex;
    min-width: 140px;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    border-radius: 5rem;
    background-color: lightcoral;
    border: 1px solid lightsteelblue;
    &:hover {
      background-color: red;
    }
    &:last-child {
      animation: flash 4s infinite;
    }
    &:hover {
      animation: pulse 1s infinite;
    }
  }

  &__controller {
    position: relative;
    display: none;

    &:nth-child(1):checked {
      & ~ .content {
        left: 0;
      }
      &:nth-child(2):checked {
        & ~ .content {
          left: -100vw;
        }
        &:nth-child(3):checked {
          & ~ .content {
            left: -200vw;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .menu {
    justify-content: flex-end;
    bottom: initial;
    top: 0;
    flex-direction: row;
  }
  // .menu__link {
  //   display: none;
  // }
  .menu__top {
    display: flex;
  }
  .menu__controller {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .menu {
    justify-content: flex-end;
  }
  .menu__top {
    display: flex;
  }
  // .menu__link {
  //   display: none;
  // }
  .menu__controller {
    display: none;
  }
}
