extends _component/layout/base
include _component/quote/quote

block awesome-content

  include _component/menu/menu-top
  .wrapper
    +quote( data.site.form.top )


    include _component/fleet/fleet
    include _component/about/about

    +quote( data.site.form.bottom )
  script(src="//embed.typeform.com/next/embed.js")

  include _component/menu/menu-bottom
  include _component/footer/footer
  include _component/terms/privacy
  include _component/terms/terms
