extends _component/layout/base

block awesome-content

  include _component/home/home
  include _component/fleet/fleet
  include _component/services/services
  include _component/about/about
  - 
    var formTitle = 'title= Request a Callback'
    var formID = 'V1JRDgaa'
  include _component/quote/quote


  //- include _component/menu/menu
