extends _component/layout/base

block awesome-content

  include _component/home/home
  include _component/fleet/fleet
  include _component/services/services
  include _component/about/about


  include _component/menu/menu
