extends _component/layout/base
include _component/quote/quote

block awesome-content

  //- include _component/menu/menu-top
  +quote( data.site.form.top )

  

  include _component/fleet/fleet
  include _component/services/services
  include _component/about/about

  +quote( data.site.form.bottom )



  //- include _component/menu/menu-bottom

