.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  padding: 50px;
  gap: 10px;
  align-items: center;
  background-color: yellow;
  // background-image: url("/asset/image/bgcimg.jpeg");
  // background-repeat: no-repeat;
  // background-size: cover;

  &__form {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  &__header {
    display: inline-flex;
    align-self: center;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    color: red;
  }

  &__button {
    display: flex;
    width: 200px;
    background-color: rgb(227, 148, 227);
    line-height: 35px;
    border: 1px solid gray;
    border-radius: 45px;
    justify-self: center;
    text-decoration: none;
    justify-content: center;
  }

  &__radio {
    display: none;
  }

  &__radio[id="get-a-quote"]:checked ~ .home__button[href="quote"] {
    // opacity: 0;
  }

  // &__radio[id="request-a-callback"]:checked ~ .home__button[href="/"],
  // &__radio[id="request-a-callback"]:checked
  //   ~ .home__form[data-tf-popup="p4j1eU4x"] {
  //   opacity: 0;
  // }
}

// ,
// &__radio[id="get-a-quote"]:checked ~ .home__form[data-tf-widget="V1JRDgaa"]
