.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  padding: 50px;
  gap: 10px;
  align-items: center;

  &__form {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  &__header {
    display: inline-block;
    align-self: center;
    justify-self: center;
  }
}
