-
  var contentTitle = content.fleet.title
  var contentDescription = content.fleet.description

#fleet 
.fleet
  h2.fleet=contentTitle 
  p.fleet=contentDescription

.fleet_row1 
  img(src="./asset/image/small van11.jpg", style= 'width= 600px; height= 350px' alt="")
  button(href= '#quote') Book Now 
  h3 Small Van (SV)
  p Length - 120cm Width - 100cm Height - 100cm Payload - 450kg Carries 1 Standard UK Pallet
