-
  var contentTitle = data.site.content.fleet.title
  var contentDescription = data.site.content.fleet.description

#fleet 
.fleet
  h2.fleet=contentTitle 
  p.fleet=contentDescription
  a.fleet__anchor(href= '#quote') Book Online 

.fleet__row1 
  .item1
    img.fleet__img(src="./asset/image/small van11.jpg",  alt="")
    a.fleet__anchor(href= '#quote') Book Now 
  .item2
    h3 Small Van (SV)
    p.fleet__text Length - 120cm Width - 100cm Height - 100cm Payload - 450kg Carries 1 Standard UK Pallet -  
  .item1
    img.fleet__img(src="./asset/image/swb1.jpg",  alt="")
    a.fleet__anchor(href= '#quote') Book Now 
  .item2
    h3 Short Wheel Based Van (SWB)
    p.fleet__text Length - 240cm Width - 100cm Height - 120cm Payload - 800kg Carries 2 Standard UK Pallets
.fleet__row2  
  .item1
    img.fleet__img(src="./asset/image/long.jpg",  alt="")
    a.fleet__anchor(href= '#quote') Book Now 
  .item2
    h3 Long Wheel Based Van (LWB)
    p.fleet__text Length - 340cm Width - 120cm Height - 180cm Payload - 1200kg Carries 3 Standard UK Pallets
  .item1
    img.fleet__img(src="./asset/image/xlwb.jpg",  alt="")
    a.fleet__anchor(href= '#quote') Book Now 
  .item2
    h3 Extra-Long Wheel Based Van (XLWB)
    p.fleet__text Length - 420cm Width - 120cm Height - 180cm Payload - 1000kg Carries 4 Standard UK Pallets
.fleet__row3  
  .item1
    img.fleet__img(src="./asset/image/luton.jpg",  alt="")
    a.fleet__anchor(href= '#quote') Book Now 
  .item2
    h3 Luton Van
    p.fleet__text Length - 400cm Width - 200cm Height - 200cm Payload - 1000kg Carries 6 Standard UK Pallets Box, Curtain and Tail Lift Options Available
  .item1
    img.fleet__img(src="./asset/image/7.5.jpg",  alt="")
    a.fleet__anchor(href= '#quote') Book Now 
  .item2
    h3 7.5 Tonne (7.5T)
    p.fleet__text Length - 240cm Width - 100cm Height - 120cm Payload - 800kg Carries 2 Standard UK Pallets
.fleet__row4  
  .item1
    img.fleet__img(src="./asset/image/18 t.jpg",  alt="")
    a.fleet__anchor(href= '#quote') Book Now 
  .item2
    h3 18 Tonne (18T)
    p.fleet__text Length - 700cm Width - 240cm Height - 250cm Payload - 9000kg Carries 14 Standard UK Pallets Box, Curtain and Tail Lift Options Available
  .item1
    img.fleet__img(src="./asset/image/26t.jpg",  alt="")
    a.fleet__anchor(href= '#quote') Book Now 
  .item2
    h3 26 Tonne (26T)
    p.fleet__text Length - 800cm Width - 240cm Height - 250cm Payload - 15,000kg Carries 16 Standard UK Pallets Box, Curtain and Tail Lift Options Available
.fleet__row5  
  .item1
    img.fleet__img(src="./asset/image/artic1.jpg",  alt="")
    a.fleet__anchor(href= '#quote') Book Now 
  .item2
    h3 Artic
    p.fleet__text Length - 1360cm Width - 250cm Height - 260cm Payload - 26,000kg Carries 26 Standard UK Pallets Box,Curtain and Tail Lift Options Available


