.fleet {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  background-color: azure;
  &__row1 {
    display: flex;
    padding-top: 40px;
    padding-bottom: 0px;
    background-position: 50%;
  }

  &__row1 > p {
    display: flex;
    flex-direction: column;
  }
}
